{
  "extends": [
    "canonical",
    "canonical/node",
    "canonical/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "id-length": 0,
    "node/no-deprecated-api": 0,
    "node/no-missing-import": 0,
    "unicorn/prevent-abbreviations": 0
  }
}
