{
  "ignorePatterns": ["./dist"],
  "extends": [
    "canonical",
    "canonical/node",
    "canonical/typescript",
    "canonical/prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "unicorn/prevent-abbreviations": 0,
    "id-length": 0
  },
  "root": true
}
