{
  "ignorePatterns": ["dist", "package-lock.json"],
  "extends": "canonical/auto",
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "unicorn/prevent-abbreviations": 0,
    "id-length": 0
  },
  "root": true
}
